/*
* @author Sergio Martinez Guerrero
* @description Framework to use on final project to 2ºDAW
*/
/*

- default 1680px - Desktop
- md 1280px - Laptop
- sm 1024px - Tablets 1
- xs 768px - Tablets 2
- ps 480px - Mobile
*/
*{
  margin:0;
  padding: 0;
}
.a{
  background: blue;
}
.b{
  background: tomato;
}
.c{
  background: #333;
}
.d{
  background: green;
}
.e{
  background: mediumseagreen;
}
/* Row System*/
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.start{
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.top{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom{
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.around{
  -ms-flex-pack: distribute;
    justify-content: space-around;
}
.between{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
  /* 12 Column system */
@media only screen and (min-width: 1280px) {

  .col {
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
    max-width: 0%;
  }
  .col-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-6 {

    flex-basis: 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  /* Margin left off columns */
  .col-off-left-1{
    margin-left: 8.33333333%;
  }
  .col-off-left-2{
    margin-left: 16.66666667%;
  }
  .col-off-left-3{
    margin-left: 25%
  }
  .col-off-left-4{
    margin-left: 33.33333333%;
  }
  .col-off-left-5{
    margin-left: 41.66666667%;
  }
  .col-off-left-6{
    margin-left: 50%;
  }
  .col-off-left-7{
    margin-left: 58.33333333%;
  }
  .col-off-left-8{
    margin-left: 66.66666667%;
  }
  .col-off-left-9{
    margin-left: 75%;
  }
  .col-off-left-10{
    margin-left: 83.33333333%;
  }
  .col-off-left-11{
    margin-left: 91.66666667%;
  }


  /* Margin left off columns */
  .col-off-right-1{
    margin-right: 8.33333333%;
  }
  .col-off-right-2{
    margin-right: 16.66666667%;
  }
  .col-off-right-3{
    margin-right: 25%
  }
  .col-off-right-4{
    margin-right: 33.33333333%;
  }
  .col-off-right-5{
    margin-right: 41.66666667%;
  }
  .col-off-right-6{
    margin-right: 50%;
  }
  .col-off-right-7{
    margin-right: 58.33333333%;
  }
  .col-off-right-8{
    margin-right: 66.66666667%;
  }
  .col-off-right-9{
    margin-right: 75%;
  }
  .col-off-right-10{
    margin-right: 83.33333333%;
  }
  .col-off-right-11{
    margin-right: 91.66666667%;
  }
}
  @media only screen and (max-width: 1280px) {
    .start-md{
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-md {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .top-md{
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-md{
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-md{
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-md{
      -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-md{
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
    }
    .col-md-1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }

    .col-md-2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    .col-md-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }

    .col-md-4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }

    .col-md-5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }

    .col-md-6 {

      flex-basis: 50%;
      max-width: 50%;
    }

    .col-md-7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }

    .col-md-8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    .col-md-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }

    .col-md-10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }

    .col-md-11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }

    .col-md-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }

    /* Margin left off columns */
    .col-md-off-left-1{
      margin-left: 8.33333333%;
    }
    .col-md-off-left-2{
      margin-left: 16.66666667%;
    }
    .col-md-off-left-3{
      margin-left: 25%
    }
    .col-md-off-left-4{
      margin-left: 33.33333333%;
    }
    .col-md-off-left-5{
      margin-left: 41.66666667%;
    }
    .col-md-off-left-6{
      margin-left: 50%;
    }
    .col-md-off-left-7{
      margin-left: 58.33333333%;
    }
    .col-md-off-left-8{
      margin-left: 66.66666667%;
    }
    .col-md-off-left-9{
      margin-left: 75%;
    }
    .col-md-off-left-10{
      margin-left: 83.33333333%;
    }
    .col-md-off-left-11{
      margin-left: 91.66666667%;
    }
    /* Margin left off columns */
    .col-md-off-right-1{
      margin-right: 8.33333333%;
    }
    .col-md-off-right-2{
      margin-right: 16.66666667%;
    }
    .col-md-off-right-3{
      margin-right: 25%
    }
    .col-md-off-right-4{
      margin-right: 33.33333333%;
    }
    .col-md-off-right-5{
      margin-right: 41.66666667%;
    }
    .col-md-off-right-6{
      margin-right: 50%;
    }
    .col-md-off-right-7{
      margin-right: 58.33333333%;
    }
    .col-md-off-right-8{
      margin-right: 66.66666667%;
    }
    .col-md-off-right-9{
      margin-right: 75%;
    }
    .col-md-off-right-10{
      margin-right: 83.33333333%;
    }
    .col-md-off-right-11{
      margin-right: 91.66666667%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .start-sm{
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-sm {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .top-sm{
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-sm{
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-sm{
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-sm{
      -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-sm{
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
    }
    .col-sm-1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }

    .col-sm-2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    .col-sm-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }

    .col-sm-4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }

    .col-sm-5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }

    .col-sm-6 {

      flex-basis: 50%;
      max-width: 50%;
    }

    .col-sm-7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }

    .col-sm-8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    .col-sm-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }

    .col-sm-10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }

    .col-sm-11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }

    .col-sm-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }

    /* Margin left off columns */
    .col-sm-off-left-1{
      margin-left: 8.33333333%;
    }
    .col-sm-off-left-2{
      margin-left: 16.66666667%;
    }
    .col-sm-off-left-3{
      margin-left: 25%
    }
    .col-sm-off-left-4{
      margin-left: 33.33333333%;
    }
    .col-sm-off-left-5{
      margin-left: 41.66666667%;
    }
    .col-sm-off-left-6{
      margin-left: 50%;
    }
    .col-sm-off-left-7{
      margin-left: 58.33333333%;
    }
    .col-sm-off-left-8{
      margin-left: 66.66666667%;
    }
    .col-sm-off-left-9{
      margin-left: 75%;
    }
    .col-sm-off-left-10{
      margin-left: 83.33333333%;
    }
    .col-sm-off-left-11{
      margin-left: 91.66666667%;
    }
    /* Margin left off columns */
    .col-sm-off-right-1{
      margin-right: 8.33333333%;
    }
    .col-sm-off-right-2{
      margin-right: 16.66666667%;
    }
    .col-sm-off-right-3{
      margin-right: 25%
    }
    .col-sm-off-right-4{
      margin-right: 33.33333333%;
    }
    .col-sm-off-right-5{
      margin-right: 41.66666667%;
    }
    .col-sm-off-right-6{
      margin-right: 50%;
    }
    .col-sm-off-right-7{
      margin-right: 58.33333333%;
    }
    .col-sm-off-right-8{
      margin-right: 66.66666667%;
    }
    .col-sm-off-right-9{
      margin-right: 75%;
    }
    .col-sm-off-right-10{
      margin-right: 83.33333333%;
    }
    .col-sm-off-right-11{
      margin-right: 91.66666667%;
    }
  }
   @media only screen and (max-width: 768px) {
     .start-xs{
       -webkit-box-pack: start;
       -ms-flex-pack: start;
       justify-content: flex-start;
     }
     .center-xs {
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
     }
     .end-xs {
       -webkit-box-pack: end;
       -ms-flex-pack: end;
       justify-content: flex-end;
     }
     .top-xs{
       -webkit-box-align: start;
       -ms-flex-align: start;
       align-items: flex-start;
     }
     .middle-xs{
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
     }
     .bottom-xs{
       -webkit-box-align: end;
       -ms-flex-align: end;
       align-items: flex-end;
     }
     .around-xs{
       -ms-flex-pack: distribute;
         justify-content: space-around;
     }
     .between-xs{
       -webkit-box-pack: justify;
       -ms-flex-pack: justify;
       justify-content: space-between
     }
    .col-xs-1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }

    .col-xs-2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }

    .col-xs-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }

    .col-xs-4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }

    .col-xs-5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }

    .col-xs-6 {

      flex-basis: 50%;
      max-width: 50%;
    }

    .col-xs-7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }

    .col-xs-8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }

    .col-xs-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }

    .col-xs-10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }

    .col-xs-11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }

    .col-xs-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }

    /* Margin left off columns */
    .col-xs-off-left-1{
      margin-left: 8.33333333%;
    }
    .col-xs-off-left-2{
      margin-left: 16.66666667%;
    }
    .col-xs-off-left-3{
      margin-left: 25%
    }
    .col-xs-off-left-4{
      margin-left: 33.33333333%;
    }
    .col-xs-off-left-5{
      margin-left: 41.66666667%;
    }
    .col-xs-off-left-6{
      margin-left: 50%;
    }
    .col-xs-off-left-7{
      margin-left: 58.33333333%;
    }
    .col-xs-off-left-8{
      margin-left: 66.66666667%;
    }
    .col-xs-off-left-9{
      margin-left: 75%;
    }
    .col-xs-off-left-10{
      margin-left: 83.33333333%;
    }
    .col-xs-off-left-11{
      margin-left: 91.66666667%;
    }
    /* Margin left off columns */
    .col-xs-off-right-1{
      margin-right: 8.33333333%;
    }
    .col-xs-off-right-2{
      margin-right: 16.66666667%;
    }
    .col-xs-off-right-3{
      margin-right: 25%
    }
    .col-xs-off-right-4{
      margin-right: 33.33333333%;
    }
    .col-xs-off-right-5{
      margin-right: 41.66666667%;
    }
    .col-xs-off-right-6{
      margin-right: 50%;
    }
    .col-xs-off-right-7{
      margin-right: 58.33333333%;
    }
    .col-xs-off-right-8{
      margin-right: 66.66666667%;
    }
    .col-xs-off-right-9{
      margin-right: 75%;
    }
    .col-xs-off-right-10{
      margin-right: 83.33333333%;
    }
    .col-xs-off-right-11{
      margin-right: 91.66666667%;
    }
  }
  @media only screen and (max-width: 480px) {
    .start-ps{
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .center-ps {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-ps {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .top-ps{
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-ps{
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-ps{
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-ps{
      -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-ps{
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
    }
   .col-ps-1 {
     -ms-flex-preferred-size: 8.33333333%;
     flex-basis: 8.33333333%;
     max-width: 8.33333333%;
   }

   .col-ps-2 {
     -ms-flex-preferred-size: 16.66666667%;
     flex-basis: 16.66666667%;
     max-width: 16.66666667%;
   }

   .col-ps-3 {
     -ms-flex-preferred-size: 25%;
     flex-basis: 25%;
     max-width: 25%;
   }

   .col-ps-4 {
     -ms-flex-preferred-size: 33.33333333%;
     flex-basis: 33.33333333%;
     max-width: 33.33333333%;
   }

   .col-ps-5 {
     -ms-flex-preferred-size: 41.66666667%;
     flex-basis: 41.66666667%;
     max-width: 41.66666667%;
   }

   .col-ps-6 {

     flex-basis: 50%;
     max-width: 50%;
   }

   .col-ps-7 {
     -ms-flex-preferred-size: 58.33333333%;
     flex-basis: 58.33333333%;
     max-width: 58.33333333%;
   }

   .col-ps-8 {
     -ms-flex-preferred-size: 66.66666667%;
     flex-basis: 66.66666667%;
     max-width: 66.66666667%;
   }

   .col-ps-9 {
     -ms-flex-preferred-size: 75%;
     flex-basis: 75%;
     max-width: 75%;
   }

   .col-ps-10 {
     -ms-flex-preferred-size: 83.33333333%;
     flex-basis: 83.33333333%;
     max-width: 83.33333333%;
   }

   .col-ps-11 {
     -ms-flex-preferred-size: 91.66666667%;
     flex-basis: 91.66666667%;
     max-width: 91.66666667%;
   }

   .col-ps-12 {
     -ms-flex-preferred-size: 100%;
     flex-basis: 100%;
     max-width: 100%;
   }

   /* Margin left off columns */
   .col-ps-off-left-1{
     margin-left: 8.33333333%;
   }
   .col-ps-off-left-2{
     margin-left: 16.66666667%;
   }
   .col-ps-off-left-3{
     margin-left: 25%
   }
   .col-ps-off-left-4{
     margin-left: 33.33333333%;
   }
   .col-ps-off-left-5{
     margin-left: 41.66666667%;
   }
   .col-ps-off-left-6{
     margin-left: 50%;
   }
   .col-ps-off-left-7{
     margin-left: 58.33333333%;
   }
   .col-ps-off-left-8{
     margin-left: 66.66666667%;
   }
   .col-ps-off-left-9{
     margin-left: 75%;
   }
   .col-ps-off-left-10{
     margin-left: 83.33333333%;
   }
   .col-ps-off-left-11{
     margin-left: 91.66666667%;
   }
   /* Margin left off columns */
   .col-ps-off-right-1{
     margin-right: 8.33333333%;
   }
   .col-ps-off-right-2{
     margin-right: 16.66666667%;
   }
   .col-ps-off-right-3{
     margin-right: 25%
   }
   .col-ps-off-right-4{
     margin-right: 33.33333333%;
   }
   .col-ps-off-right-5{
     margin-right: 41.66666667%;
   }
   .col-ps-off-right-6{
     margin-right: 50%;
   }
   .col-ps-off-right-7{
     margin-right: 58.33333333%;
   }
   .col-ps-off-right-8{
     margin-right: 66.66666667%;
   }
   .col-ps-off-right-9{
     margin-right: 75%;
   }
   .col-ps-off-right-10{
     margin-right: 83.33333333%;
   }
   .col-ps-off-right-11{
     margin-right: 91.66666667%;
   }
 }
